
body {
  font-family: Georgia, sans-serif;
}

h1 {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 50px;
  color: #3A1772;
  display: block;
  text-align: center;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #3A1772;
  overflow-x: hidden;
  padding-top: 50px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #c2bbf0;
  display: block;
  text-align: center; 
}

.sidenav a:hover {
  color: #f8f4E3;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0 10px;
}

.box {
  border-radius: 15px;
  background: #c2bbf0;
  color: #3A1772;
  padding: 50px;
  text-align: center;
  font-weight: 900;
  font-family: Georgia, sans-serif;
  position: relative;
}

.left {
  margin: 200px;
  margin-left: 10px;
  margin-right: 200px;
}

.right {
  margin: 200px;
  margin-left: 200px;
  margin-right: 10px;
}

.sb1::before {
  content: "";
  width: 1px;
  height: 1px;
  position: absolute;
  border-left: 15px solid #c2bbf0;
  border-right: 15px solid transparent;
  border-top: 15px solid #c2bbf0;
  border-bottom: 15px solid transparent;
  right: -16px;
  top: 1px;
}

.sb2::before {
  content: "";
  width: 1px;
  height: 1px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid #c2bbf0;
  border-top: 15px solid #c2bbf0;
  border-bottom: 15px solid transparent;
  left: -16px;
  top: 1px;
}






